@page "/editproduct/{prodid}"
@using ProductApp_1165395.DataLayer
@using ProductApp_1165395.Models
@using ProductApp_1165395.Pages.Components
@inject IProductsRepository irep
<h3>EditProduct</h3>
<br/>
<AddEditProductComp ButtonText="Edit Product" CList="CatList" Prod="Prodct"
ValidSubmit="@UpdateProduct"/>
<br/>
<p>@Msg</p>
@code {
[Parameter]
public string prodid { get; set; }
string Msg = "";
List<Category> CatList;
Product Prodct;
protected override void OnInitialized()
{
CatList = irep.GetCategories();
Prodct = irep.GetProductById(int.Parse(prodid));
}
void UpdateProduct()
{
bool ret = false;
try
{
ret = irep.UpdateProduct(Prodct);
}
catch(Exception ex)
{
Msg = ex.Message;
}
if (ret == true)
Msg = "Product updated successfully..";
else
Msg = "Problem in updating product ";
}
}